@charset "utf-8";
/************************************************
Version : 신한저축은행 모바일 개선 1.0
Date :2018-10-18
*************************************************/

html,body{width:100%;height:100%;min-height:100%;font-family:'OneShinhanLight', Helvetica, sans-serif;font-size:11px;color:#000;}
body,object,iframe,선
h1,h2,h3,h4,h5,h6,div,span,p,blockquote,pre,abbr,acronym,address,cite,code,del,dfn,em,img,figure,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,form,fieldset,legend,a,textarea,input,select,option,button,label,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box;
  -webkit-appearance:none;appearance:none;-ms-appearance:none;-moz-appearance:none;resize:none;
  -webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;word-break:break-all;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;
}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption {display:block;} /* html5 태그 초기 설정 값 */
h1,h2,h3,h4,h5,h6,input,select,textarea,button,option {font-size:100%;}
pre,code,samp,kbd {font-family:inherit;}
h1,h2,h3,h4,h5,h6,strong,b,th {font-weight:normal;}
em,var,address {font-style:normal;}
ul,ol,li {list-style:none;}
legend,fieldset,button,img {border:0 none;}
input,select,textarea,button,label,strong,a,time {vertical-align:inherit;} /* inline or inline-block */
input,select,textarea,button,option {font-family:inherit;font-weight:inherit;} /* form 요소 리셋*/
button,select,option {color:inherit;text-transform:none;}
textarea {resize:none;} /* 사용자 리사이징 방지 */
table {table-layout:fixed;width:100%;border-collapse:separate;empty-cells:show;border-spacing:0;}
caption,legend {overflow:hidden;z-index:-1;width:0;height:0;font-size:0;line-height:0;text-indent:-999999em;}
th,td {word-break:break-all;}
button {background:none;text-align:left;cursor:pointer;overflow:visible;}
a,a:link,a:visited,a:active {color:inherit;text-decoration:none;}
a:focus {color:inherit;}
hr {display:none;}

/* Form 기본정의 */
input[type="button"]:disabled, button:disabled {opacity:0.7;cursor:default;}
input, button {-webkit-transform:translate3d(0,0,0);}
input {vertical-align:middle;}
select {padding:0 25px 0 8px;width:100%;height:34px;color:#555;border-radius:2px;text-overflow:ellipsis;white-space: nowrap;vertical-align:middle;border:1px solid #ddd;background:#fff url(../img/loanRenewal4/bg_select.png) no-repeat 100% 50%;background-size: 20px 7px;}
select:focus {color:#000;}
input[type="button"], button {margin:0;padding:0;border:0;border-radius:0;-webkit-border-radius:0;-webkit-appearance:none !important;cursor:pointer;}
button, input[type="reset"], input[type="button"], input[type="submit"] {line-height:normal;border:none;}

input[type="text"]::-ms-clear {display:none !important;}
input[type="text"] {padding:0 10px;height:37px;font-size:12px;color:#000;letter-spacing:0;outline:none;border:0;border-radius:0;background:#fff; -webkit-appearance:none !important;
                   -webkit-ime-mode:active;-moz-ime-mode:active;-ms-ime-mode:active;ime-mode:active;}
input[type="text"].eng {ime-mode:inactive;-webkit-ime-mode:inactive;-moz-ime-mode:inactive;-ms-ime-mode:inactive;}

input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="date"]{padding:0 10px;height:37px;font-size:12px;color:#000;letter-spacing:0;outline:none;border:0;border-radius:0;word-break:break-all;-webkit-appearance:none !important;background:#fff; }

input::-webkit-outer-spin-button {-webkit-appearance: none;}
::-webkit-inner-spin-button {-webkit-appearance: none;}

input.selectBg {padding-right:30px;background:url('../img/loanRenewal4/bg_select.png') no-repeat 100% 50%;background-size:25px 34px;}


input[type="radio"].radioBtn {overflow:hidden;margin:0;padding:0;width:20px;height:20px;vertical-align:top;border:0;background:url('../img/loanRenewal4/bg_radio.png') no-repeat 0 0;background-size:cover;-webkit-appearance:none;}
input[type="radio"].radioBtn:checked {background-position:0 -20px;}
input[type="radio"].radioBtn:disabled {background-position:0 -40px;}
input[type="radio"].radioBtn:checked:disabled {background-position:0 -60px;}
input[type="radio"].radioBtn + label {display:inline-block;line-height:145%;}
input[type="checkbox"].checkBox {overflow:hidden;margin:0;padding:0;width:20px;height:20px;vertical-align:top;border:0;background:url('../img/loanRenewal4/bg_checkbox.png') no-repeat 0 0;background-size:cover;-webkit-appearance:none;border-radius:0;}
input[type="checkbox"].checkBox:checked {background-position:0 -20px;}
input[type="checkbox"].checkBox:disabled {background-position:0 -40px;}
input[type="checkbox"].checkBox:checked:disabled {background-position:0 -60px;}
input[type="checkbox"].checkBox + label {display:inline-block;padding-left:7px;line-height:145%;}

/* 사각 radio */
span.radioBtn {display:block;position:relative;margin:0 2px;height:28px;}
span.radioBtn input[type="radio"] {z-index:-1;overflow:hidden;position:absolute;left:0;top:0;margin:0;width:100%;height:28px;font-size:0;line-height:0;opacity:0;}
span.radioBtn input[type="radio"] + label {display:inline-block;padding:1px 8px 0;min-width:50px;height:28px;font-family:OneShinhanMedium;font-size:12px;line-height:25px;text-align:center;color:#ab94b0;border:1px solid #ab94b0;border-radius:4px;-webkit-border-radius:4px;background:#fff;}
span.radioBtn input[type="radio"]:checked + label {background:#ab94b0;color:#fff;}
span.radioBtn input[type="radio"] + label:after {content:'';display:none;position:absolute;left:auto;top:auto;width:0;height:0;vertical-align:middle;background:none;background-size:0;}
span.radioBtn input[type="radio"]:checked + label:after {content:'';display:none;position:absolute;left:auto;top:auto;width:0;height:0;vertical-align:middle;background:none;background-size:0;}

span.checkBox {display:block;position:relative;margin:0 2px;height:28px;}
span.checkBox input[type="checkbox"] {z-index:-1;overflow:hidden;position:absolute;left:0;top:0;margin:0;width:100%;height:28px;font-size:0;line-height:0;opacity:0;}
span.checkBox input[type="checkbox"] + label {display:inline-block;padding:1px 8px 0;min-width:50px;height:28px;font-family:OneShinhanMedium;font-size:12px;line-height:25px;text-align:center;color:#ab94b0;border:1px solid #ab94b0;border-radius:4px;-webkit-border-radius:4px;background:#fff;}
span.checkBox input[type="checkbox"]:checked + label {background:#ab94b0;color:#fff;}
span.checkBox input[type="checkbox"] + label:after {content:'';display:none;position:absolute;left:auto;top:auto;width:0;height:0;vertical-align:middle;background:none;background-size:0;}
span.checkBox input[type="checkbox"]:checked + label:after {content:'';display:none;position:absolute;left:auto;top:auto;width:0;height:0;vertical-align:middle;background:none;background-size:0;}




.textarea {padding:5px;}
.textarea textarea {width:100%;height:100%;border:0;}

/* Placeholder Color 적용 */
::-webkit-input-placeholder {text-align:left !important;letter-spacing:-0.08em;color:#a1a1a1;}/* WebKit, Blink, Edge */
:-moz-placeholder {text-align:left !important;letter-spacing:-0.08em;color:#a1a1a1;opacity:1;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {text-align:left !important;letter-spacing:-0.08em;color:#a1a1a1;opacity:1;}/* Mozilla Firefox 19+ */
:-ms-input-placeholder {text-align:left !important;letter-spacing:-0.08em;color:#a1a1a1;}/* Internet Explorer 10-11 */

:focus::-webkit-input-placeholder {color:#000;}/* WebKit, Blink, Edge */
:focus:-moz-placeholder {color:#000;opacity:1;} /* Mozilla Firefox 4 to 18 */
:focus::-moz-placeholder {color:#000;opacity:1;}/* Mozilla Firefox 19+ */
:focus:-ms-input-placeholder {color:#000;}/* Internet Explorer 10-11 */






/* Font 정의 */
/*******************************************************************************************
  [폰트 사이즈 참고]
  10px/1rem   | 11px/1.1rem | 12px/1.2rem | 13px/1.3rem | 14px/1.4rem | 15px/1.5rem
  16px/1.6rem | 17px/1.7rem | 18px/1.8rem | 19px/1.9rem | 20px/2rem
********************************************************************************************/
/*
@font-face {
  font-family:OneShinhanLight;
  src:url(../font/loanRenewal4/OneShinhanLight.eot);
  src:url(../font/loanRenewal4/OneShinhanLight.eot#iefix) format('embedded-opentype'),
       url(../font/loanRenewal4/OneShinhanLight.woff2) format('woff2'),
       local(※), url(../font/loanRenewal4/OneShinhanLight.woff) format('woff'),
       url(../font/loanRenewal4/OneShinhanLight.ttf) format('truetype');

  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:OneShinhanMedium;
  src:url(../font/loanRenewal4/OneShinhanMedium.eot);
  src:url(../font/loanRenewal4/OneShinhanMedium.eot#iefix) format('embedded-opentype'),
       url(../font/loanRenewal4/OneShinhanMedium.woff2) format('woff2'),
       local(※), url(../font/loanRenewal4/OneShinhanMedium.woff) format('woff'),
       url(../font/loanRenewal4/OneShinhanMedium.ttf) format('truetype');

 font-weight:700;
 font-style:normal;
}

@font-face {
  font-family:OneShinhanBold;
  src:url(../font/loanRenewal4/OneShinhanBold.eot);
  src:url(../font/loanRenewal4/OneShinhanBold.eot#iefix) format('embedded-opentype'),
       url(../font/loanRenewal4/OneShinhanBold.woff2) format('woff2'),
       local(※), url(../font/loanRenewal4/OneShinhanBold.woff) format('woff'),
       url(../font/loanRenewal4/OneShinhanBold.ttf) format('truetype');
 font-weight:900;
 font-style:normal;
}
@font-face {
  font-family:OneShinhanBold;
  src:url(../font/loanRenewal4/OneShinhanBold.eot);
  src:url(../font/loanRenewal4/OneShinhanBold.eot#iefix) format('embedded-opentype'),
       url(../font/loanRenewal4/OneShinhanBold.woff2) format('woff2'),
       local(※), url(../font/loanRenewal4/OneShinhanBold.woff) format('woff'),
       url(../font/loanRenewal4/OneShinhanBold.ttf) format('truetype');
 font-weight:900;
 font-style:normal;
}
*/














